main{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: azure;
    font-family: Georgia;
    flex-direction: column;
}

input{
    height: 200px;
    width: 400px;
    border-radius: 10px;
    font-size: 30px;

}

.input_green{
    background-color: green;
}

input:hover{
    background-color: cadetblue;
}

.content{
    display: none;
}

.content_on{
    display: flex;
    margin: 10px 0;
    background-color: rgb(255, 173, 255);
    color: antiquewhite;
    height: 50px;
    width: 120px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 30px;
}
